/*
@define-color bg_color @theme_selected_bg_color;
@define-color text_color @theme_text_colro;
*/

/* @define-color bg_color #000; */
/* @define-color text_color #fff; */

@define-color bg_color @theme_selected_bg_color;
@define-color text_color @theme_text_color;

* {
    font-family: "FiraCode Nerd Font", sans-serif;
}

window#waybar {
    background-color: transparent;
    border: none;
    color: @text_color;
}

#workspaces {
    font-size: 18px;
    padding: 5px 20px 5px 0px;
}

#workspaces button {
    color: @text_color;
    background-color: transparent;
    border: none;
}

#workspaces button > box > label {
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    border-radius: 2px;
    box-shadow: none;
}

#workspaces button.active > box > label {
    border-color: @text_color;        
}

#workspaces button:hover {
    background: transparent;
    box-shadow: none;
    border: none;
}

window.main .modules-left, 
window.main .modules-center, 
window.main .modules-right {
    /* background-color: rgba(43, 48, 59, 0.5); */
    background-color: alpha( @bg_color, 0.5 );
    border: 1px solid;
    /*border-color: rgba(255, 255, 255, 0.5);
    border-color: rgba($unfocused_borders, 0.5);*/
    border-color: alpha( @text_color, 0.3 );
    border-radius: 32px;
    padding: 6px 18px;
}

.modules-left {
    margin-left: 10px;
}

.modules-right {
    margin-right: 10px;
}

.modules-right > *:first-child {
    padding-left: 10px;
}

.modules-right > *:last-child {
    padding-right: 10px;
}

.modules-right > * > label {
    font-size: 16px;
}

/*
#keyboard-state,
#idle_inhibitor {
    padding-right: 10px;
}

#wireplumber,
#network,
#cpu {
    margin-right: 10px;
    padding-right: 10px;
}

#memory {
    margin-right: 0px;
}
*/

#keyboard-state label.locked span + span {
    color: #ff3e5e;
}

#clock {
    padding-right: 5px;
}

#tray {
    padding-left: 5px;
    margin-top: -5px;
}

@keyframes blink {
    to {
        background-color: #eb3d4b;
        color: black;
    }
}
