#custom-launcher {
  $icon_font_size: 24px;
  $arch_icon_size: calc($icon_font_size + 4px);


  &.module {
    color: $foreground;
    background-color: $background;
    border: 3px solid transparent;
    border-radius: $module_spacing;
    transition: color 200ms ease-in-out;

    margin-right: 8px;
    padding: 0px 25px;
    font-size: $icon_font_size;

    &:first-child {
      font-size: $arch_icon_size;
    }

    &.focused {
      border-top: 3px solid $cyan;
      background-color: $selection;
      color: $cyan;
    }

    &.active {
      border-top: 3px solid $pink;
      background-color: $selection;
      color: $pink;
    }

    &.urgent {
        border-top: 3px solid $red;
        color: $selection;
    }

    &:hover {
        background-color: $pink;
        box-shadow: none;
        border: 3px solid $pink;
        color: $darker;
    }
  }
}
