/*
 * Dracula color scheme
 * */

/*
 * Fonts
 * */

* {
  font-family: "SauceCodePro NFM, Regular";
}

window#waybar {
    background-color: #282a36;
    border: none;
    color: #f8f8f2;
  }

#workspaces {
}

#workspaces button {
    color: #f8f8f2;
    background-color: transparent;
    border-top: 3px solid transparent;
    border-radius: 0px;

    padding: 5px 15px;
    font-size: 24px;
  }

#workspaces button:first-child {
      font-size: calc(24px + 2px);
    }

#workspaces button.focused {
      border-top: 3px solid #8be9fd;
      background-color: #44475a;
      color: #8be9fd;
    }

#workspaces button:hover {
      background-color: #44475a;
      box-shadow: none;
      border-top: 3px solid #f8f8f2;
    }

.modules-left {
  margin-left: 5px;
}

.modules-right {
  margin-right: 5px;
}

.modules-right>*:first-child {
  padding-left: 10px;
}

.modules-right>*:last-child {
  padding-right: 10px;
}

.modules-right>*>label {
  font-size: 16px;
}

#keyboard-state label.locked span+span {
  color: #ff3e5e;
}

@keyframes blink {
  to {
    background-color: #eb3d4b;
    color: black;
  }
}

