// workspaces
// "󰨇" 
// "󰭹" 
// "󰓓" 
// "󱄄" 
// "" 

window-rule {
    match app-id=r#"obsidian"#
    open-on-workspace "󰨇"
}

window-rule {
    match app-id=r#"vesktop"#
    match app-id=r#"slack"#
    open-on-workspace "󰭹"
}

window-rule {
    match app-id=r#"vesktop"#
    open-maximized true
}


// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"zen$"# title="^Picture-in-Picture$"
    open-floating true

    default-window-height { proportion 0.33; }
    default-floating-position x=24 y=24 relative-to="bottom-right"
}

window-rule {
    match app-id=r#"steam"# title="^Steam$"
    default-column-width { proportion 0.70; }
}

window-rule {
    match app-id=r#"steam"# title="^Friends List$"
    default-column-width { proportion 0.30; }
    default-window-height { proportion 0.66; }
}

// Steam friends list kept causing games to lose focus
window-rule {
    match app-id=r#"steam"# title="^Steam$"
    match app-id=r#"steam"# title="^Friends List$"
    match app-id=r#"steam"# title=r#"^Recordings \& Screenshots$"#
    open-focused false
    open-on-workspace "󰓓"
}

// Steam DMs
window-rule {
    match app-id=r#"steam"#
    exclude app-id=r#"steam"# title=r#"^Steam$"#
    exclude app-id=r#"steam"# title=r#"^Friends List$"#
    exclude app-id=r#"steam_app_[(0-9\_)+]"#
    exclude app-id=r#"steam"# title=r#"^Recordings \& Screenshots$"#

    open-focused false
    open-floating true
    open-on-workspace "󰓓"

    default-window-height { proportion 0.31; }
    default-column-width { proportion 0.289; }
    default-floating-position x=24 y=24 relative-to="bottom-right"
}

window-rule {
    match app-id=r#"steam"# title=r#"^Recordings \& Screenshots$"#
    open-floating true

    default-column-width { proportion 0.66; }
    // default-window-height { proportion 0.33; }
}

window-rule {
    match app-id=r#"steam_app_[(0-9\_)+]"#
    open-on-workspace "󱄄"
    open-fullscreen true
    open-maximized-to-edges true
}

// Bitwarden in Mozilla based browsers plays weird with wayland
window-rule {
    match app-id="zen" title=r#"^Extension: (Bitwarden Password Manager) - Bitwarden — Zen Browser$"#
    open-floating true
    open-focused true
    block-out-from "screencast"
    shadow {
        on
    }
}
