#keyboard-state label.locked span+span {
  color: #ff3e5e;
}

#clock {
  padding-right: 5px;
}

#tray {
  padding-left: 5px;
  margin-top: -5px;
}

@keyframes blink {
  to {
    background-color: #eb3d4b;
    color: black;
  }
}
