.modules {
  &-left,
  &-center,
  &-right {
    padding: 0 $module_spacing;
  }

  &-center,
  &-right {
    .module {
      padding: 0 calc($module_spacing * 1);
    }
  }

  &-left {
    margin-left: $module_spacing;
  }

  &-center {
    /*border-radius: $module_spacing;*/
  }

  &-right {
    margin-right: $module_spacing;

    .module {
      padding: 0 calc($module_spacing * 1.5);
      /*margin-right: 4px;*/
    }
  }
}

$main_monitor {
  &.bottom {
    .modules {
      &-left,
      &-center,
      &-right {
        margin-bottom: 10px;
      }

      &-center {
        background-color: $background;
        border-radius: $module_spacing;
      }
    }
  }
}

/*
 * This is the only way I've gotten a whole section to render a bg
 */
window#waybar {
  &.top {
    &.$main_monitor {
      background-color: $background;
    }
  }
}

$TV {
  .modules {
    &-left,
    &-center,
    &-right {
      margin-top: 10px;
    }

    &-left,
    &-right {
      padding: $module_spacing 0;
      background-color: $background;
      border-radius: $module_spacing;
    }
  }
}
