.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

.modules-right>*:first-child {
  padding-left: 10px;
}

.modules-right>*:last-child {
  padding-right: 10px;
}

.modules-right>*>label {
  font-size: 16px;
}
