#workspaces {
  $icon_font_size: 24px;
  $arch_icon_size: calc($icon_font_size + 2px);

  button {
    color: $foreground;
    background-color: transparent;
    border-top: 3px solid transparent;
    border-radius: 0px;

    padding: 5px 15px;
    font-size: $icon_font_size;

    &:first-child {
      font-size: $arch_icon_size;
    }

    &.focused {
      border-top: 3px solid $cyan;
      background-color: $selection;
      color: $cyan;
    }

    &:hover {
      background-color: $selection;
      box-shadow: none;
      border-top: 3px solid $foreground;
    }
  }
}
