#workspaces {
  font-size: 18px;

  button {
    color: $foreground;
    background-color: transparent;
    border-top: 3px solid transparent;
    border-radius: 0px;
    /*padding-right: 15px;*/
    /*min-width: 40px;*/

    &.focused {
      border-top: 3px solid $yellow;
      background-color: $selection;
    }

    &:hover {
      background-color: $selection;
      box-shadow: none;
    }
  }
}
