#workspaces {
  $icon_font_size: 24px;
  $arch_icon_size: calc($icon_font_size + 4px);
  button {
    color: $foreground;
    background-color: $background;
    border-top: 3px solid transparent;
    border-radius: $module_spacing;

    margin-right: 8px;
    padding: 0px 25px;
    font-size: $icon_font_size;

    &:first-child {
      font-size: $arch_icon_size;
    }

    &.focused, &.active {
      border-top: 3px solid $cyan;
      background-color: $selection;
      color: $cyan;
    }

    &:hover {
      background-color: $selection;
      box-shadow: none;
      border-top: 3px solid $foreground;
    }
  }
}
